@model IEnumerable<Eventy.Models.Material>

@{
    ViewBag.Title = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materials</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Material</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
            <tr>
                <td>@material.Name</td>
            </tr>
        }
    </tbody>
</table>

