@model IEnumerable<Eventy.Models.Material>

@{
    ViewBag.Title = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materials</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var material in Model)
        {
        <tr>
            <td>@material.Id</td>
            <td>@Html.ActionLink(material.Name, "Details", "Materials", new { id = material.Id }, null)</td>
        </tr>
        }
    </tbody>
</table>

