@model IEnumerable<Eventy.Models.Customer>

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
            <tr>
                <td>
                    @customer.Id
                </td>
                <td>
                    @Html.ActionLink(customer.FullName, "Details", "Customers", new { id = customer.Id }, null)
                </td>
            </tr>

            }
        </tbody>
    </table>
}

